{% load static %}
<h1>Leaderboard</h1>
<link rel="stylesheet" href="{% static 'css/leaderboard.css' %}" />
<div class="container justify-content-center">
    <table>
        <tr>
            <th>Rank</th>
            <th>Username</th>
            <th>Points</th>
        </tr>
        {% for user in top_users %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ user.user.username }}</td> <!-- Access username from the related User model -->
            <td>{{ user.points }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No users on the leaderboard yet.</td>
        </tr>
        {% endfor %}
    </table>
    
</div>
