{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Study Prompts</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/studyContent.css' %}">
</head>
<body>
    <div class="content">
        <h1>Study Prompt</h1>
        {% if prompt %}
            <div class="prompt">
                <p>{{ prompt.content }}</p>
            </div>
        {% else %}
            <p>No study prompts available.</p>
        {% endif %}
</body>
</html>
