{% extends "sticky_notes.html" %}
{% load static%}

{% block content%}
<div class="row">
    <div class="col">
        <div class="notes_list_heading text-center mb-5">
            <h1 class="fs-4">These are the notes: </h1>
        </div>
    </div>
</div>
   
<div class="row mb-3">
    <div class="col text-center">
      <a href="{% url 'stickynotes.new' %}" class="btn btn-sm btn-success">Create New Stickynote</a>
    </div>
</div>

<div class="row">
    {% for stickynote in stickynotes %}
    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-header">
                {{stickynote.title}}
            </div>
            <div class="card-body">
                <p>{{stickynote.text | truncatechars:20}}</p>
            </div>
            <div class="card-footer"> 
                <a href="{% url 'stickynotes.detail' pk=stickynote.id %}" class="btn btn-info btn-sm">View Note</a>
            </div>
        </div>

    </div>
   
    {% endfor %}
</div>
 {% endblock %}   
